/* ***************************** */
/*         Control bar           */
/* ***************************** */
.control-bar {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  align-items: center;
  padding: 0 1.6rem;
  font-size: 1.6rem;
}

.search-form {
  flex-basis: 32%;
  position: relative;
}

.search-form-svg {
  z-index: 10;
  fill: #555;
  position: absolute;
  width: 21px;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#search-input-field {
  width: 85%;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 3.6rem;
  padding: 1rem;
  padding-left: 3.4rem;
  transition-duration: 0.3s;
}

#search-input-field:focus {
  width: 90%;
}

.sort-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1.2rem;
  border-radius: 10px;
}

#sort-box-select {
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 14px;
  padding: 0.6rem;
  outline: none;
  border: none;
  background: transparent;
}

#sort-box-select option {
  color: white;
  background: black;
}

/* ***************************** */
/*       Content-Container       */
/* ***************************** */

.content-box {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  gap: 4.8rem;
  margin-top: 0.4rem;
  padding: 3.2rem 1.2rem;
  color: white;
}

.card-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  padding-bottom: 2.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  height: 36rem;
}

.card-img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.card-content:hover .card-img {
  transform: scale(1.1);
}

.card-title {
  align-self: center;
  padding: 0rem 2.4rem;
}
