/* ***************************** */
/*          Content Details      */
/* ***************************** */

@media (max-width: 992px) {
  body {
    color: rgb(255, 255, 255, 0.9);
  }
  .content-details-container .item-poster-box {
    grid-row: 1;
    grid-column: 2;
  }
  .content-details-container .aside-item-box {
    grid-row: 1;
    grid-column: 3;
  }
  .content-details-container .status-box {
    grid-row: 1;
    grid-column: 1;
    flex-direction: column;
  }
  .content-details-container .item-description {
    grid-row: 2;
    grid-column: 1 / span 3;
  }
}

@media (max-width: 768px) {
  .glass {
    backdrop-filter: none;
  }
  .content-details-page .content-details-container {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-details-container .item-poster-box {
    order: 2;
  }

  .content-details-container .aside-item-box {
    order: 4;
  }
  .content-details-container .status-box {
    font-size: 1.2rem;
    width: 90%;
    order: 1;
    flex-direction: row;
    gap: 1.6rem;
    align-self: center;
  }

  .content-details-container .item-description {
    order: 3;
  }

  .content-details-page .back-btn-box {
    margin-left: 1.2rem;
  }
}

/* ***************************** */
/*         content              */
/* ***************************** */

@media (max-width: 768px) {
  .anime .content-box {
    margin-top: 8.4rem;
  }
}
