/* ReactPaginate default container */

.pagination-div {
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

/* Each page item */
.page-item {
  margin: 0 4px;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 8px 12px; */
}

/* Each page link */
.page-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.2s, color 0.2s;
}

/* Hover effect */
.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

/* Active page */
.active .page-link {
  background-color: #007bff;
  color: #fff;
}

/* Disabled state for previous/next if needed */
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

/* Break label "..." */
.break-link {
  cursor: default;
}

.hide-pagination {
  visibility: hidden;
}

/* ***************************** */
/*         MediaQueries          */
/* ***************************** */

@media (max-width: 500px) {
  .page-link {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .page-link {
    font-size: 10px;
    padding: 10px 10px;
  }
}
