* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: white;
  --grey-color: #868e96;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/animeback.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* ***************************** */
/*          html overlay         */
/* ***************************** */

@media (max-width: 768px) {
  html {
    position: relative;
  }
  html::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* ***************************** */
/*       For Small Mobile        */
/* ***************************** */

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 48%;
  }
}
